.dashboard-center {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    width: 600px;
    height:900px;
}
.person-icon {
    width:15px;
    height:15px;
    background-image: url('person-icon.png');
    background-size: cover;
    display:inline-block;
    vertical-align: bottom;
    margin-right: 3px;
}

.modal-background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
  

.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.modal-child {
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
}

.modal-top {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
}