.dashboard-whole {
    display: flex;
    justify-content: center;
}
.dashboard-center {
    // margin: 0 200px 0 200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    width: 700px;
    min-width: 700px;
    height:686px;
}
.dashboard-left {
    display: inline-flex;
    flex-direction: column;
    width: 180px;
    float: left;
    text-align: left;
    width: 172px;
    min-width: 172px;
    margin-left: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right:15px;
    font-size: 13px;
    line-height: 18px;
}
.friend-box {
    display: inline-block;
    width: 180px;
    margin-right: 15px;
    font-size: 20px;
}
.friend-button {

    color: white;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    background-color: #1CC29F;
    cursor: pointer;
    font-weight: 600;
    border: 0 solid;
    font-size: 20px;
    margin: 10px;
    box-shadow: 0 2px 0 0 #3a3e4380;
    text-align: center;
    max-width: 110px;
}
.friend-bar {
    margin: 10px;
    padding-top: 15px;
}
.person-icon {
    width:15px;
    height:19px;
    font-size: 14px;
    padding: 3px 8px 2px 8px;
    border-left: 6px solid #fff;
    background-image: url('person-icon.png');
    background-size: cover;
    display:inline-block;
    vertical-align: bottom;
    margin-right: 3px;
}
.add-bill-modal {
    background-color: white;
    height: fit-content;
    width: fit-content;
    color: black;
    display: block;
    align-content: center;
    text-align: center;
    font-size: 25px;
    border-radius: 2px;
    //   margin: 5px;
}

.add-bill-modal h2{ 
    display: block;
    background: #5cc5a7;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #36977b;
    text-shadow: 0 -1px 0 #318a71;
    font-size: 18px;
    font-weight: bold;

}
  

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(235, 229, 229, 0.7);
    z-index: 10;
}

.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}


.add-bill-block {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: #fff;
    width: 350px;
    border: 1px solid rgb(26, 20, 20);
    box-shadow: 0px 2px 8px #ccc;
    overflow: hidden;
    border-radius: 5px;
    font-size: 14px;
}

.modal-input {
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 1px dashed #ccc !important;
    border-radius: 0;
    padding-bottom: 2px;
}

.modal-bill {
    position: relative;
    padding: 2px;
    border-bottom: 2px solid rgb(180, 175, 175);
    padding-left: 10px;
    max-height: 250px;
    overflow-y: auto;
    display: block;
    font-size: 14px;
}

.box {
    width:200px;
}
.dash-top {
    background: #eee;
  }
  .dash-top {
    overflow:hidden;
    border-bottom: 1px solid #ddd;
  }
  
  .dash-top h1 {
    font-size: 24px !important;
    line-height: 38px;
    // font-weight: 500;
    max-width: 315px;
    float: left;
    color: #333;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
  }
  
  .dash-button-list {
    float:right;
    display: inline-flex;
    align-items: center;
    padding-top: 19px;
    margin-right: 10px;
  }
  
  .dash-button-list li {
    float: right;
    // padding-right: 15px;
    // padding-top: 13px;
 
    margin-left:5px;
  }
  
  .dash-button-list li:hover {
    cursor:pointer;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .dash-button-list li:nth-child(2) {
    background: #ff652f;
    color: #fff;
    text-shadow: 0 -1px 0 #c83400;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 5px;
    font-size: 14px;
    padding: 9px 14px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #ccc;
  }
  
  .dash-button-list li:nth-child(2):hover {
    background: #ff5216;
  
  }
  
  .dash-button-list li:nth-child(2n+1):hover {
    background: #1CC29F;
  
  }
  
  
  .dash-button-list li:nth-child(2n+1) {
    background: #1CC29F;
    color: #fff;
    text-shadow: 0 -1px 0 #318970;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    padding: 9px 14px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #ccc;
  }

  .dashboard-bottom {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #999;
    display: flex;
    justify-content: flex-end;
  }
  .dashboard-block {
    font-size: 13px;
    display: inline-flex;
    justify-content: center;
    width: 175px;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    
  }
  
  .negative {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color:  #ff652f;;
  }
  
  .positive {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #1CC29F;
  }

  .title {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
  }

.owe-titles {
    display: flex;
    justify-content: space-between;
    top: 10px;
    text-align: center;
    margin: 6px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    line-height: 36px;
    font-weight: bold;
}

.owe-list{
    display: flex;
    justify-content: space-between;
    margin: 6px;
    top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
.name-block{
    display: inline-block;
    padding: 7px 13px 7px 13px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.you-owe-half {
    border-right:1px solid rgb(180, 175, 175);
    padding-right: 90px;
}
.negative-one {
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    color:  #ff652f;;
  }
  
  .positive-one {
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    color: #1CC29F;
  }

  .settle-input-box {
    justify-content: center;
    width: 80%;
    height: 40px;
    font-size: 20px;
    margin: 10px;
    line-height: 110%;
    // border: 1px solid #cccccc;
    // border-radius: 5px;
    background-color: #ffffff;
    padding: 4px;
  }

  .side-modal {
    position: absolute;
    left: 69%;
    top: 11.5%;
    background: #fff;
    width: 180px;
    border: 1px solid #999;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    border-radius: 5px;
    transition: all .3s ease;
  }  

  .settle-user-list{
    font-size: 20px;
  }
  .hover-name:hover {
    cursor: pointer;
  }