.dashboard-center {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    width: 600px;
    height:900px;
}
.dashboard-left {
    display: inline-flex;
    width: 180px;
    float: left;
    margin-right:15px;
      
}
.friend-box {
    display: inline-block;
    width: 180px;
    margin-right: 15px;
    font-size: 20px;
}
.person-icon {
    width:15px;
    height:15px;
    background-image: url('person-icon.png');
    background-size: cover;
    display:inline-block;
    vertical-align: bottom;
    margin-right: 3px;
}



.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.modal-child {
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
}
