.main-footer{
    display: flex;
    position: fixed;
    background-color: whitesmoke;
    text-decoration: none;
    height: 55px;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px 10px 0px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    left: 0;
    bottom: 0;
    width: 100%;

}
.footer-logo-container {
    text-decoration: none;
    display: inline-flex;

}
.link-container {
    display: inline-flex;
    // justify-content: flex-end;
    
}

.fab {
    font-size: 35px;
    color: black;
    padding: 25px;
    padding-top: 35px;
}

#port{
    font-size: 35px;
    color: black;
    padding: 25px;
    padding-top: 35px;
}


.logo-footer-title {
    font-size: 25px;
    margin: 0 10px 0 0;
}



.logo-footer {
    color: red;
}