.form-comtainer {
  position: relative;
  display: block;
  
}

.content-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 35%;
  width: auto;
  max-height: 60%;
  font-size: 20px;
  border: 0px solid;
  box-shadow: rgb(224, 213, 213);
  border-radius: 16px;
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.input-box {
  display: flex;

  justify-content: center;
  
  width: 60%;
  height: 42px;
  font-size: 32px;
  margin-bottom: 17px;
  line-height: 110%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 4px;
}
.input-boxx {
  display: flex;

  justify-content: center;
  
  height: 42px;
  font-size: 32px;
  margin-bottom: 17px;
  line-height: 110%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 4px;
}

.input-box:focus {
  transform: scale(1.15);
  border: 1px solid rgb(147, 213, 218);
}
.input-text {
  display: flex;
  justify-content: center;
}

.img-background {
  position: absolute;
  background-color: hsl(0, 0%, 90%);
  background-position: center 0px;
  width: 100%;
  height: 100%;
  // background-repeat: repeat-x;
  z-index: -2;
}